<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% extends 'html/base.html' %}
{% block title %}Child Details{% endblock %}
{% block content %}
<div class="bg-image"
  style="background-image:url('https://wallpapercave.com/wp/wp3289781.jpg');background-repeat:no-repeat;background-size:cover;height:150%">
<div class="container">
<h4 class="text-center text-dark" style="font-family:Garamond;font-weight:bold;">Welcome...Know about the Organisations </h4>
<div id="accordion">
<h3 class="text-center text-dark" style="font-family:Garamond;font-weight:bolder;">Welcome...<i class='far fa-grin-beam' style='font-size:24px'></i> Know About The Organisations Here...<i class='fas fa-hand-point-down'></i></h3>
<div class="bg-image" style="background-image:url('https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z3JhZGllbnR8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80');background-repeat:no-repeat;background-size:100%;">
     <h3 class="text-success text-center" style="font-family:Garamond;font-weight:bold;"> Hey there..., <br>You can click the tab below to know about your specified Organisations :)<br>You can also contact them by clicking the "Contact Us" button right there...!!<br>Don't forget to give us your valuable suggestions in the feedback form <i class='far fa-smile' style='font-size:24px'></i><br>
     Thanks in Advance <i class='far fa-grin-wink' style='font-size:24px'></i></h3>
  </div>
  <h3>About Child care</h3>
  <div class="bg-image" style="background-image:url('');background-repeat:no-repeat;background-size:100%;">
    <h5>Our Services is concerned with the physical, social and psychological well-being of children, particularly children suffering from the effects of poverty or lacking normal parential care and supervision.
   Services may apply such as Feeding, Shelter and simple health precautions.
   Need For ChildWelfare:
    1 million out of 20 million babies born every yer in India are abandoned soon after their birth due to different spcio-economic reasons.
   Child Labour, Mall Nutrition and No Education for the children are the major problems in our country to overcome this we need a organzation that helps poor children and provide thier basic needs and facilities.
   The Food, Clothes you through out, are dream for many children.
   Helping Hands are Better than Praying Lips.</h5>
   <ul>
      <h5>Our Features</h5>
      <li>Family like care.</li>
      <li>Advocacy and child safeguarding.</li>
      <li>Education.</li>
      <li>Children’s Participation.</li>
      <li>Youth Engagement as Volunteers</li>
      <li>Kinship care</li>
    </ul><br>
   <a href="{% url 'con' %}" class="btn btn-outline-info text-info ">Contact Us</a>
</div>
  <h3>About Orphanage</h3>
  <div class="bg-image" style="background-image:url('');background-repeat:no-repeat;background-size:100%;">
    <p>
    Founder is Salvatore <br> 
    
    <h5>Our Services is concerned with the physical, social and psychological well-being of children, particularly children suffering from the effects of poverty or lacking normal parential care and supervision.
   Services may apply such as Feeding, Shelter and simple health precautions.
   Need For ChildWelfare:
    1 million out of 20 million babies born every yer in India are abandoned soon after their birth due to different spcio-economic reasons.
   Child Labour, Mall Nutrition and No Education for the children are the major problems in our country to overcome this we need a organzation that helps poor children and provide thier basic needs and facilities.
   The Food, Clothes you through out, are dream for many children.
   Helping Hands are Better than Praying Lips.</h5>
   <ul>
      <h5>Our Features</h5>
      <li> Providing temporary safe shelter.</li>
      <li>Providing Education to the children.</li>
      <li>Education.</li>
      <li>Children’s Participation.</li>
      <li>Seek to return children to their families when safety has improved</li>
    </ul>
   <a href="{% url 'con' %}" class="btn btn-outline-info text-info">Contact Us</a>
    </p>
  </div>
  <h3>Organisation 3</h3>
  <div class="bg-image" style="background-image:url('');background-repeat:no-repeat;background-size:100%;">
    <p><h5>Our Services is concerned with the physical, social and psychological well-being of children, particularly children suffering from the effects of poverty or lacking normal parential care and supervision.
   Services may apply such as Feeding, Shelter and simple health precautions.
   Need For ChildWelfare:
    1 million out of 20 million babies born every yer in India are abandoned soon after their birth due to different spcio-economic reasons.
   Child Labour, Mall Nutrition and No Education for the children are the major problems in our country to overcome this we need a organzation that helps poor children and provide thier basic needs and facilities.
   The Food, Clothes you through out, are dream for many children.
   Helping Hands are Better than Praying Lips.</h5>
    </p>
    <ul>
      <h5>Our Features</h5>
      <li>Family like care.</li>
      <li>Advocacy and child safeguarding.</li>
      <li>Education.</li>
      <li>Children’s Participation.</li>
      <li>Youth Engagement as Volunteers</li>
      <li>Kinship care</li>
    </ul>
    <a href="{% url 'con' %}" class="btn btn-outline-info text-info">Contact Us</a>
  </div>
  <h3>Organisation 4</h3>
  <div class="bg-image" style="background-image:url('https://wallpapercave.com/wp/wp2634983.jpg');background-repeat:no-repeat;background-size:100%;">
    <a href="{% url 'con' %}" class="btn btn-outline-info text-info">Contact Us</a>
  </div>
  <h3>Organisation 5</h3>
  <div class="bg-image" style="background-image:url('https://png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-cartoon-kids-art-festival-poster-background-template-image_148372.jpg');background-repeat:no-repeat;background-size:100%;">
    <a href="{% url 'con' %}" class="btn btn-outline-info text-info">Contact Us</a>
  </div>
</div>
</div>
<script>
  $( function() {
    $( "#accordion" ).accordion();
  } );
  </script>
{% endblock %}