<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% extends 'html/base.html' %}
{% block title %}Child Details{% endblock %}
{% block content %}
<div class="bg-image"
  style="background-image:url('https://wallpapercave.com/wp/wp3289781.jpg');background-repeat:no-repeat;background-size:cover;height:150%">
<div class="container">
<h4 class="text-center text-dark" style="font-family:Garamond;font-weight:bold;">Welcome...Know about the Organisations </h4>
<div id="accordion">
<h3 class="text-center text-dark" style="font-family:Garamond;font-weight:bolder;">Welcome...<i class='far fa-grin-beam' style='font-size:24px'></i> Know About The Organisations Here...<i class='fas fa-hand-point-down'></i></h3>
<div class="bg-image" style="background-image:url('https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z3JhZGllbnR8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80');background-repeat:no-repeat;background-size:100%;">
     <h3 class="text-success text-center" style="font-family:Garamond;font-weight:bold;"> Hey there..., <br>You can click the tab below to know about your specified Organisations :)<br>You can also contact them by clicking the "Contact Us" button right there...!!<br>Don't forget to give us your valuable suggestions in the feedback form <i class='far fa-smile' style='font-size:24px'></i><br>
     Thanks in Advance <i class='far fa-grin-wink' style='font-size:24px'></i></h3>
  </div>
  <h3>About Child care</h3>
  <div class="bg-image" style="background-image:url('https://cdn1.vectorstock.com/i/1000x1000/34/85/children-background-vector-23603485.jpg');background-repeat:no-repeat;background-size:100%;">
     Founder is Kelvin <br>
   <a href="{% url 'con' %}" class="btn btn-outline-info text-info ">Contact Us</a>
</div>
  <h3>About Orphanage</h3>
  <div class="bg-image" style="background-image:url('https://wallpapercave.com/wp/wp2634962.jpg');background-repeat:no-repeat;background-size:100%;">
    <p>
    Founder is Salvatore <br> 
    <a href="{% url 'con' %}" class="btn btn-outline-info text-info">Contact Us</a>
    <h3>hi</h3>
    <h3>hi</h3>
    <h3>hi</h3>
    <h3>hi</h3>
    <h3>hi</h3>
    <h3>hi</h3>
    </p>
  </div>
  <h3>Organisation 3</h3>
  <div class="bg-image" style="background-image:url('https://wallpapercave.com/wp/wp2634979.jpg');background-repeat:no-repeat;background-size:100%;">
    <p>Yet to Come 
    </p>
    <ul>
      <li>List item one</li>
      <li>List item two</li>
      <li>List item three</li>
    </ul>
    <a href="{% url 'con' %}" class="btn btn-outline-info text-info">Contact Us</a>
  </div>
  <h3>Organisation 4</h3>
  <div class="bg-image" style="background-image:url('https://wallpapercave.com/wp/wp2634983.jpg');background-repeat:no-repeat;background-size:100%;">
    <a href="{% url 'con' %}" class="btn btn-outline-info text-info">Contact Us</a>
  </div>
  <h3>Organisation 5</h3>
  <div class="bg-image" style="background-image:url('https://png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-cartoon-kids-art-festival-poster-background-template-image_148372.jpg');background-repeat:no-repeat;background-size:100%;">
    <a href="{% url 'con' %}" class="btn btn-outline-info text-info">Contact Us</a>
  </div>
</div>
</div>
<script>
  $( function() {
    $( "#accordion" ).accordion();
  } );
  </script>
{% endblock %}