<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% extends 'html/base.html' %}
{% block title %}Child Details{% endblock %}
{% block content %}
<div class="bg-image"
      style="background-image:url('https://wallpapercave.com/wp/wp5299687.jpg');background-repeat:no-repeat;background-size:100%; height:100%">
      <h3 class="text-center text-dark" style="font-family:Garamond;font-weight:bolder;">Child's Details</h3>
<div class="container-fluid mt-1">
<div class="col-md mt-2 mx-2 shadow-lg">
                  <div class="card-body">
                        {% if sh %}
                        <table class="table table-borderless table-center">
                              <tr class="bg-dark text-light text-center">
                                    <th>Child Name</th>
                                    <th>Child Gender</th>
                                    <th>Child DOB</th>
                                    <th>Child Age</th>
                                    <th>Joining Date</th>
                                    <th>Years Stayed</th>
                                    <th>Exit Date</th>
                                    <th>About</th>
                                    <th>Actions</th>
                              </tr>
                        
                        <tr>
                              <td>{{sh.child_name}}</td>
                              <td>{{sh.child_gen}}</td>
                              <td>{{sh.child_dob}}</td>
                              <td>{{sh.child_age}}</td>
                              <td>{{sh.joining_date}}</td>
                              <td>{{sh.yrs_stayed}}</td>
                              <td>{{sh.exit_date}}</td>
                              <td>{{sh.about}}</td>
                              <td colspan="3">
                                    <a href="{% url 'chupd' sh.id %}" class="btn btn-success my-1">Update</a>
                                    <a href="{% url 'chdel' sh.id %}" class="btn btn-danger my-1">Delete</a>
                                    <a href="{% url 'dash' %}" class="btn btn-warning my-1">Back to main</a>
                              </td>
                        </tr>
                        {% endif %}
                  </table>
                  </div>
            </div>
</div>
{% endblock %}