<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% extends 'html/base.html' %}
{% block title %} Logout {% endblock %}
{% block content %}
<div class="bg-image"
	style="background-image:url('https://previews.123rf.com/images/karolinamadej/karolinamadej1804/karolinamadej180400139/99192495-funny-business-illustration-cartoon-stickman-holding-a-banner-with-slogan-thank-you-vector-.jpg');background-repeat:no-repeat;background-size:100% ;height:90%">	

<div class="container mt-1">
			<h3 class="text-center text-dark" style="font-family:Garamond;font-weight:bold;">Successfully Logged Out</h3>
			<h3 class="text-center text-dark" style="font-family:Garamond;font-weight:bold;">All your Details are Safe with us :)</h3>
			<!-- <h3 class="text-center text-dark" style="font-family:Garamond;font-weight:bold;">Thank you for spending your valuable time on our website...Have a Good Time Ahead :)</h3>  -->
		<h3 class="text-center text-dark" style="font-family:Garamond;font-weight:bold;">Changed Your Mood ...? Wanna Login again...? Click the button Below :)</h3>
			<a class="btn btn-block btn-outline-dark col-md-4 mx-auto" href="{% url 'lg' %}">Login</a>
		</div>
</div>
</div>
{% endblock %}
<!-- https://wallpapercave.com/wp/wp4350177.jpg -->
<!-- https://wallpapercave.com/wp/WKqCKiY.jpg -->
<!-- https://previews.123rf.com/images/karolinamadej/karolinamadej1804/karolinamadej180400139/99192495-funny-business-illustration-cartoon-stickman-holding-a-banner-with-slogan-thank-you-vector-.jpg -->
<!-- https://previews.123rf.com/images/illustratiostock/illustratiostock2012/illustratiostock201200012/160700626-isolated-happy-bear-cartoon-saying-thank-you-vector-illustration.jpg -->