<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% extends 'html/base.html' %}
{% block title %}Reset_password_done{% endblock %}
{% block content %}
<div class="bg-image"
	style="background-image:url('https://wallpapercave.com/wp/wp2634944.png');background-repeat:no-repeat;background-size:100%; height:100%">
<div class="container">
	<div class="col-md-10 mx-auto mt-4">
		<h3 class="text-center text-success mt-2 p-2 border rounded">Reset password</h3>
		<div class="card-body">
			<h4 class=" text-center text-info">Your reset password link has been sent to your mail id... check once :)</h4>
		</div>
		
	</div>
</div>
</div>
{% endblock %}