<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% extends 'html/base.html' %}
{% block title %}Thankyou{% endblock %}
{% block content %}
<div class="bg-image"
	style="background-image:url('https://wallpapercave.com/wp/wp2634946.jpg');background-repeat:no-repeat;background-size:100%; height:130%">
<div class="container mt-1">
	<h4 class="text-center" style="font-family:Garamond;font-weight:bold;">Dear {{user.username}},</h4>
	<h4 class="text-center" style="font-family:Garamond;font-weight:bold;"> Thank you for spending your valuable time on our Website...</h4>
	<h4 class="text-center" style="font-family:Garamond;font-weight:bold;">We are Happy to have you with us :) Have a good time ahead...!!</h4><br>
</div>
<div class="container" style="align-content: center;">
<div class="row">

&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<div class="card col-md-3 col-sm-6" style="background-color:#FFC0CB">
<div class="number">
<h1 class="text-info text-center"><i class="fa fa-smile-o"></i><h1>
<h3 class="text-info text-center" style="font-family:Garamond;font-weight:bold;">47k</h3>
<h3 class="text-info text-center" style="font-family:Garamond;font-weight:bold;">Donors</h3>
</div>
</div>

<div class="card col-md-3 col-sm-6 mx-2" style="background-color:#FFC0CB">
<div class="number">
<h1 class="text-info text-center"><i class="fa fa-child"></i></h1>
<h3 class="text-info text-center" style="font-family:Garamond;font-weight:bold;">154K</h3>
<h3 class="text-info text-center" style="font-family:Garamond;font-weight:bold;">Children Saved</h3>
</div>
</div>


<div class="card col-md-3 col-sm-6" style="background-color:#FFC0CB">
<div class="number">
<h1 class="text-info text-center"><i class="fa fa-money"></i></h1>
<h3 class="text-info text-center" style="font-family:Garamond;font-weight:bold;">785K</h3>
<h3 class="text-info text-center" style="font-family:Garamond;font-weight:bold;">Donated</h3><br>
</div>
</div>


&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;<div class="card col-md-3 col-sm-6 my-2" style="background-color:#FFC0CB">
<div class="number">
<h1 class="text-info text-center"><i class="fa fa-handshake-o"></i></h1>
<h3 class="text-info text-center" style="font-family:Garamond;font-weight:bold;">357</h3>
<h3 class="text-info text-center" style="font-family:Garamond;font-weight:bold;">Volunteers</h3>
</div>
</div>

<div class="card col-md-3 col-sm-6 mx-2 my-2" style="background-color:#FFC0CB">
<div class="number">
<h1 class="text-info text-center"><i class='fas fa-home'></i></h1>
<h3 class="text-info text-center" style="font-family:Garamond;font-weight:bold;">357</h3>
<h3 class="text-info text-center" style="font-family:Garamond;font-weight:bold;">Organizations</h3>
</div>
</div>

<div class="card col-md-3 col-sm-6 my-2" style="background-color:#FFC0CB">
<div class="number">
<h1 class="text-info text-center"><i class='fas fa-user-friends'></i></h1>
<h3 class="text-info text-center" style="font-family:Garamond;font-weight:bold;">357</h3>
<h3 class="text-info text-center" style="font-family:Garamond;font-weight:bold;">Workers</h3><br>
</div>
</div>

</div>
</div>
</div>
{% endblock %}