{% extends 'html/base.html' %}
{% block title %} Delete User{% endblock %}
{% block content %}
<div class="container">
	<div class="card col-md-6 mt-5 mx-auto">
		<div class="card-body mx-3">
			<form method="post">
			{% csrf_token %}
			<h3 class="bg-secondary text-center p-2 border rounded text-light">Delete User</h3>
			<h4 class="text-center text-dark" style="font-family:Garamond;font-weight:bold;">Are You sure you need to Delete the user {{d.username}}</h4>
			&nbsp; &nbsp; &nbsp; &nbsp; <input type="submit" value="Yes Confirm" class="btn btn-success col-sm-4">
			<a href="{% url 'mn' %}" class="btn btn-danger col-sm-6">No,Take me back..!!</a>
		</form>
		</div>
	</div>
</div>
{% endblock %}