<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% extends 'html/base.html' %}
{% block title %}Change password{% endblock %}
{% block content %}
<div class="bg-image"
	style="background-image:url('https://wallpapercave.com/wp/wp2634944.png');background-repeat:no-repeat;background-size:100%; height:100%">
<div class="container">
	<div class="mx-auto col-md-6 mt-1 p-2 shadow-lg">
			<h3 class="bg-info text-center text-light p-2 border rounded text-center" style="font-family:Garamond;font-weight:bold;">Change Password Here</h3>
			<form method="POST">
				{% csrf_token %}
				<table class="table table-borderless">
						{% for i in c %}
						<tr>
							<td>{{i}}</td>
						</tr>
						{% endfor %}
				</table>
				<input type="submit" value="change" class="form-control my-2 btn btn-outline-success btn-block">
			</form>
		</div>
		
	</div>
	
</div>

{% endblock %}