<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% extends 'html/base.html' %}
{% block title %}Join Us{% endblock %}
{% block content %}
<div class="bg-image"
	style="background-image:url('https://wallpapercave.com/wp/wp5299687.jpg');background-repeat:no-repeat;background-size:100%; height:100%">
<div class = "container mt-2">

		<h3 class="text-center text-info" style="font-family:Garamond;font-weight:bold;"> Welcome {{user.username}},</h3>
		<h4 class="text-center text-info" style="font-family:Garamond;font-weight:bold;">We will Conduct Campaigns on a particular day to achieve our Goal to protect children...</h4>
		<h4 class="text-center text-info" style="font-family:Garamond;font-weight:bold;">If you are willing to join us (i.e., for campaign, volunteering and other purposes) ...Leave us your details and message here... We will get back to you shortly...!!!</h4><hr>
	<div class=" mx-auto col-md-5 ">
		<div class="card-body">
			<form method="POST" enctype="multipart/form-data">
				<h3 class="text-center text-dark" style="font-family:Garamond;font-weight:bold;">Fill this form.. to JoinUs </h3>
				{% csrf_token %}
				<input type="text" name="uname" placeholder="Enter Username" class="form-control my-2" value="{{request.user.username}}" readonly>
				<input type="email" name="email" placeholder="Enter your Mail ID" class="form-control my-2" value="{{request.user.email}}">
				<input type="Number" name="ph" placeholder="Enter your Phone Number" class="form-control my-2" value="{{request.user.ph_no}}">
				<input type="text" name="oname" placeholder="Enter the organisation name which your wanna join.." class="form-control my-2">
				<input type="email" name="oemail" placeholder="Enter the organisation email which your wanna join..!" class="form-control my-2">
				<textarea class="form-control my-2" cols="10" rows="5" placeholder="Leave us a message" name="msg"></textarea>
				<div class="row">
					<div class="col">
					<input type="reset" name="Reset" class="btn btn-danger col-sm">
					</div>
					<div class="col">
					<input type="submit" value="Submit" class="btn btn-success col-sm">
					</div>
                </div>
			</form>
		</div>
	</div>
</div>
{% endblock %}