<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% extends 'html/base.html' %}
{% block title %}Main Page{% endblock %}
{% block content %}
{% if messages %}
  {% for j in messages %}
  <div class="alert alert-{{j.tags}} alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button><img src="{{request.user.img.url}}" class="rounded-circle" height="40px" width="50px"/>
  {{j}}
</div>
  {% endfor %}
{% endif %}
<div class="bg-image"
	style="background-image:url('https://wallpapercave.com/wp/wp2634944.png');background-repeat:no-repeat;background-size:100%; height:100%">
<div class="container mt-4">
		{% if user.is_superuser %}
		<h3 class="text-center text-dark" style="font-family:Garamond;font-weight:bold;">Welcome Admin</h3>
		<div class="col-md-8 mx-auto">
		<div class="card-body">
			<h3 class="text-center text-dark" style="font-family:Garamond;font-weight:bold;">Here are the Registered Users till now...</h3>
			<table class="table table-borderless">
				<tr class="bg-info text-light">
					<th class="text-center" style="font-family:Garamond;font-weight:bold;">S.No</th>
					<th class="text-center" style="font-family:Garamond;font-weight:bold;">Username</th>
					<th class="text-center" style="font-family:Garamond;font-weight:bold;">Email id</th>
				</tr>
				{% for i in ru %}
            		<tr>
            			<td class="text-center" style="font-family:Garamond;font-weight:bold;">{{forloop.counter}}.</td>
            			<td class="text-center" style="font-family:Garamond;font-weight:bold;">{{i.username}}</td>
            			<td class="text-center" style="font-family:Garamond;font-weight:bold;">{{i.email}}</td>
            		</tr>
            	{% endfor %}
            </table>
        </div>
    </div>
		{% elif user.role == 1 %}
		<h3 class="text-center text-dark" style="font-family:Garamond;font-weight:bold;">Hi {{user.username}} Donor, Here are your Donations... :)</h3>
		<h4 class="text-center text-dark" style="font-family:Garamond;font-weight:bold;">Wanna have a look at the Organisation Details... <a href="{% url 'details' %}">Click Here.. :)</a></h4><br>
		{% elif user.role == 2 %}
		<h3>Welcome Organiser</h3>
		<h5>View Full Details By Clicking...
			<a href="{% url 'ct' %}">Children's Details.. :) </a> and 
			<a href="{% url 'wt' %}"> Worker's Details.. :)</a></h5>
		{% else %}
		<h3 class="text-center text-dark" style="font-family:Garamond;font-weight:bold;">Welcome {{user.username}}, Know the information of the Donations <a href="{% url 'info' %}">By Clicking Here.. :)</a></h3>
		<h3 class="text-center text-dark" style="font-family:Garamond;font-weight:bold;">You are in the Guest Mode... Request your needed Role to avail Services :)</h3>
		{% endif %}
		{% if user.role == 1 %}
	<div class="row">
			{% for j in h %}
	<div class="col col-md-4">
	<div class="card my-2 mx-1">
	<img class="card-img-top" src="{{user.img.url}}" alt="Card image" style="height:300px;width:100%">
	<div class="card-body">
	<h5 class="text-danger">Periodically Donating</h5>
	<h5>Donation By : {{j.username}}</h5>
	<h5>Donating To : {{j.donating_to}}</h5>
	<a href="{% url 'dtab1' %}" class="btn btn-secondary form-control">View</a>
</div>
</div>
</div>
{% endfor %}
{% for j in o %}
<div class="col col-md-4">
<div class="card my-2 mx-1">
<img class="card-img-top" src="{{user.img.url}}" alt="Card image" style="height:300px;width:100%">
<div class="card-body">
	<h5 class="text-warning">Occassionally Donating</h5>
	<h5>Donation By : {{j.username}}</h5>
	<h5>Donating To : {{j.donating_to}}</h5>
<a href="{% url 'dtab2' %}" class="btn btn-secondary form-control">View</a>
</div>
</div>
</div>
{% endfor %}
		
</div>
{% endif %}

{% if user.role == 2 %}
	<div class="row">
			{% for j in s %}
	<div class="col col-md-4">
	<div class="card my-2">
	<img class="card-img-top" src="{{user.img.url}}" alt="Card image" style="height:150px;width:100%">
	<div class="card-body">
		<h5 class="text-danger">Periodically Donating</h5>
		<h5>Donated By : {{j.username}}</h5>
		<h5>Donated to: {{j.donating_to}}</h5>
		<a href="{% url 'otab1' %}" class="btn btn-secondary form-control">View</a>
	</div>
</div>
</div>
{% endfor %}
	{% for i in oc %}
	<div class="col col-md-4">
	<div class="card my-2">
	<img class="card-img-top" src="{{user.img.url}}" alt="Card image" style="height:150px;width:100%">
	<div class="card-body">
		<h5 class="text-warning">Occassionally Donating</h5>
		<h5>Donated By : {{i.username}}</h5>
		<h5>Donated to: {{i.donating_to}}</h5>
		<a href="{% url 'otab2' %}" class="btn btn-secondary form-control">View</a>
	</div>
</div>
</div>
{% endfor %}	
</div>
{% endif %}
</div>
{% endblock %}