{% load static %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <img src="{% static 'images/gif.gif' %}" alt="logo" style="width:100px;height:50px">
  <!-- <a class="navbar-brand" href="{% url 'hm' %}"> Children Welfare
</a> -->
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      {% if not user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'hm' %}"><i class="fas fa-home"></i> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'rg' %}"><i class='fas fa-user-plus'></i> Register Here</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'lg' %}"><i class="fas fa-address-card"></i> Login</a>
      </li>
      {% elif user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mn' %}">Main</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="{% url 'gv' %}">Permissions</a>
      </li>
      <li class="dropdown">
       <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">{{user.username}}</a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'pf' %}">Profile</a>
    <a class="dropdown-item" href="{% url 'chpas' %}">Change Password</a>
    <a class="dropdown-item" href="{% url 'lgt' %}">Logout</a>
  </div>
</li>
      {% elif user.role == 1 %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'aus' %}"><i class='fas fa-home'></i>About Organisations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mn' %}"><i class='fas fa-gift'></i>Donations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'don' %}"><i class="fas fa-hand-holding-heart"></i>Donate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'join' %}"><i class="fas fa-hands-helping"></i>Join Us</a>
      <li class="dropdown">
       <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-address-book"></i>{{user.username}}</a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'pf' %}">Profile</a>
    <a class="dropdown-item" href="{% url 'chpas' %}">Change Password</a>
    <a class="dropdown-item" href="{% url 'lgt' %}">Logout</a>
  </div>
</li>
{% elif user.role == 2 %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'vi' %}"><i class='fas fa-gift'></i> Donations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dash' %}"><i class='fas fa-address-card'></i> Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ci' %}"><i class="fa fa-child"></i> Add Children Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'wi' %}"><i class='fas fa-user-friends'></i> Add Worker's Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'di' %}"><i class='fas fa-user-edit'></i> Add Donor Info</a>
      </li>
      <li class="dropdown">
       <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">{{user.username}}</a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'pf' %}">Profile</a>
    <a class="dropdown-item" href="{% url 'chpas' %}">Change Password</a>
    <a class="dropdown-item" href="{% url 'lgt' %}">Logout</a>
  </div>
</li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mn' %}">Main</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dash' %}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'rq' %}">Service Request</a>
      </li> 
      <li class="dropdown">
       <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">{{user.username}}</a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'pf' %}">Profile</a>
    <a class="dropdown-item" href="{% url 'chpas' %}">Change Password</a>
    <a class="dropdown-item" href="{% url 'lgt' %}">Logout</a>
  </div>
</li>
      {% endif %}  
    </ul>
  </div>  
</nav>
