<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% extends 'html/base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="bg-image"
	style="background-image:url('https://i.pinimg.com/originals/51/cf/6d/51cf6d559dee8c795d24a683cddf0871.jpg');background-repeat:no-repeat;background-size:100%;height:100%">
<div class="container col-md-4">
	<!-- <div class="card col-md-6 mx-auto shadow-lg">
		<div class="card-body"> -->
			<h3 class="text-center">Registration Page</h3>
			<form method="post" class="my-5">
				{% csrf_token %}
				{% for j in f %}
				<tr>
					<td>{{j}}</td>
				</tr>
				{% endfor %}
				<div class="row">
					<div class="col">
						<a href="{% url 'lg' %}" class="btn btn-outline-secondary my-2 col-sm">Existing User</a>
					</div>
					<div class="col">
						<input type="reset" value="Reset" class="btn btn-outline-danger my-2 col-sm">
					</div>
					<div class="col">
						<input type="submit" value="Submit" class="btn btn-outline-success my-2 col-sm">
					</div>
				</div>
			</form>
	</div>
</div>
{% endblock %}