{% extends 'html/base.html' %}
{% block title %}Role Requests{% endblock %}
{% block content %}
<div class="container mt-4">
	<div class="card col-md-6 mx-auto shadow-lg">
		<div class="card-body">
			{% if not user.rolrq.ud_id %}
			<h3>{{user.username}}, Request your Role here</h3>
			<form method="post">
				{% csrf_token %}
				{% for j in n %}
				{% if forloop.counter == 1 %}
				<td><input type="text" name="uname" class="form-control" readonly=True value="{{user.username}}"></td>
				{% else %}
				{{j}}
				{% endif %}
				{% endfor %}
				<div class="row">
					<div class="col">
						<input type="reset" value="Reset" class="btn btn-outline-info col-sm my-2">
					</div>
					<div class="col">
						<input type="submit" value="Request Role" class="btn btn-outline-success col-sm my-2">
					</div>
				</div>
			</form>
			{% else %}
			<h3>Dear {{user.username}}, You have already requested your role :)</h3>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}